@page "/info-4"

<section class="info-page">
    <h1>Πληροφορίες - Ενότητα 4</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tincidunt
        lacus sit amet mi eleifend, quis tincidunt elit placerat.
    </p>
    <p>
        Donec volutpat, sem in mattis tristique, ipsum lectus mattis arcu, et dictum
        lorem arcu sit amet neque.
    </p>
</section>
