@page "/info-3"

<section class="info-page">
    <h1>Πληροφορίες - Ενότητα 3</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis bibendum erat
        nec elit imperdiet, non luctus purus scelerisque.
    </p>
    <p>
        Sed suscipit justo id massa cursus, sit amet posuere lorem pretium. Phasellus
        euismod risus nec lectus mollis, vitae molestie massa elementum.
    </p>
</section>
