@page "/info-1"

<section class="info-page">
    <h1>Πληροφορίες - Ενότητα 1</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ac lorem in
        velit tristique pellentesque. Vivamus venenatis nunc eget lectus vulputate,
        vitae facilisis eros gravida.
    </p>
    <p>
        Integer vel velit vitae arcu volutpat fermentum. Suspendisse potenti. Sed at
        lacus eu risus viverra porttitor.
    </p>
</section>
