@page "/info-2"

<section class="info-page">
    <h1>Πληροφορίες - Ενότητα 2</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi vitae ex a
        lectus egestas commodo sed vitae mauris.
    </p>
    <p>
        Curabitur accumsan, risus nec tristique posuere, lectus urna mattis ipsum, sed
        tristique libero arcu vel turpis.
    </p>
</section>
