<Router AppAssembly="typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="routeData" DefaultLayout="typeof(Shared.MainLayout)" />
        <FocusOnNavigate RouteData="routeData" Selector="h1" />
    </Found>
    <NotFound>
        <LayoutView Layout="typeof(Shared.MainLayout)">
            <p role="alert">Η σελίδα δεν βρέθηκε.</p>
        </LayoutView>
    </NotFound>
</Router>
