@inherits LayoutComponentBase

<div class="page">
    <header class="top-bar">
        <div class="brand">Νιανιακούδης</div>
        <NavMenu />
    </header>

    <main class="content">
        @Body
    </main>

    <footer class="footer">
        <span>© 2024 Νιανιακούδης</span>
    </footer>
</div>
